.template-selectors-menu
  .templates-selectors-label
    模板
  .template-selector-dropdowns-wrap
    .template-type-selector.js-template-type-selector-wrap.hidden
      = dropdown_tag("选择类型", options: { toggle_class: 'js-template-type-selector qa-template-type-dropdown', title: "选择一个模板类型" } )
    .license-selector.js-license-selector-wrap.js-template-selector-wrap.hidden
      = dropdown_tag("选择一个许可证(License)模板", options: { toggle_class: 'js-license-selector qa-license-dropdown', title: "应用许可证", filter: true, placeholder: "过滤器", data: { data: licenses_for_select(@project), project: @project.name, fullname: @project.namespace.human_name } } )
    .gitignore-selector.js-gitignore-selector-wrap.js-template-selector-wrap.hidden
      = dropdown_tag("选择一个 .gitignore 模板", options: { toggle_class: 'js-gitignore-selector qa-gitignore-dropdown', title: "应用模板", filter: true, placeholder: "过滤器", data: { data: gitignore_names(@project) } } )
    .gitlab-ci-yml-selector.js-gitlab-ci-yml-selector-wrap.js-template-selector-wrap.hidden
      = dropdown_tag(""选择一个 GitLab CI Yaml 模板", options: { toggle_class: 'js-gitlab-ci-yml-selector qa-gitlab-ci-yml-dropdown', title: "应用模板", filter: true, placeholder: "过滤器", data: { data: gitlab_ci_ymls(@project) } } )
    .dockerfile-selector.js-dockerfile-selector-wrap.js-template-selector-wrap.hidden
      = dropdown_tag("选择一个 Dockerfile 模板", options: { toggle_class: 'js-dockerfile-selector qa-dockerfile-dropdown', title: "应用模板", filter: true, placeholder: "过滤器", data: { data: dockerfile_names(@project) } } )
  .template-selectors-undo-menu.hidden
    %span.text-info 模板已应用
    %button.btn.btn-sm.btn-info 撤销
